@import './mixins.scss';


.users {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .user {
        text-align: center;
        border: 1px solid black;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        margin-bottom: 10px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .user+.user {
        margin-left: 10px;
    }
}

#app {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        text-align: center;
    }

    .input_user {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        justify-content: center;

        input {
            width: 48%;
            @include inputs;
        }
        input+input{
            margin-top: 20px;
        }

        input:focus {
            outline: none;
        }
    }

    button {
        @include buttons;
    }
    input::placeholder {
        color: rgb(52, 52, 52);
    }
    input{
        @include inputs;
    }
}
.pagination{
    button+button{
        margin-left: 20px;
    } 
}
.hidden_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    input{
        margin-top: 10px;
    }
}